[Unit]
Description=Setzer Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/setzer bot --auto --gas-start 2000000000 --gas-inc 1000000000 --gas-max  25000000000

[Install]
WantedBy=multi-user.target
