[Unit]
Description=Setzer Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/setzer bot

User=nanexcool
Group=nanexcool

[Install]
WantedBy=multi-user.target