[Unit]
Description=Setzer Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/setzer bot
Restart=always

[Install]
WantedBy=multi-user.target